body {
    margin: 0;
    padding: 0;
}

.container-fix-fix {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.container {
    padding-left:150px;
    padding-right: 150px; 
    }

    .fixed-contact {
        background: #f7cd26f5;
        padding: 10px 30px;
        border-radius: 15px;
    }
@media only screen and (max-width: 1024px) {
 .container {
    padding-left:150px;
    padding-right: 150px; 
    }
    .fixed-contact {
        background: #f7cd26f5;
        padding: 10px 30px;
        border-radius: 15px;
    }
}

@media only screen and (max-width: 980px) {
    .container {
       padding-left:150px;
       padding-right: 150px; 
       }
       .fixed-contact {
        background: #f7cd26f5;
        padding: 10px 30px;
        border-radius: 15px;
    }
   }


   @media only screen and (max-width: 800px) {
    .container {
       padding-left:150px !important;
       padding-right: 150px !important; 
       }
       .fixed-contact {
        background: #f7cd26f5;
        padding: 10px 30px;
        border-radius: 15px;
    }
   }
   

   @media only screen and (max-width: 780px) {
    .container {
        padding-left:150px !important;
        padding-right: 150px !important; 
       }
       .fixed-contact {
        background: #f7cd26f5;
        padding: 10px 30px;
        border-radius: 15px;
    }
   }

   @media only screen and (max-width: 768px) {  
    .container {
        padding-left:150px !important;
        padding-right: 150px !important;  
       }
       .fixed-contact {
        background: #f7cd26f5;
        padding: 10px 30px;
        border-radius: 15px;
    }
   }

   @media only screen and (max-width: 720px) {
    .container {
        padding-left:150px !important;
        padding-right: 150px !important; 
       }
   }

   @media only screen and (max-width: 700px) {
    .container {
        padding-left:15px !important ;
        padding-right: 15px !important ; 
       }

       .fixed-contact {
        background: #f7cd26f5 !important;
        padding: 10px 15px !important;
        border-radius: 15px !important;}
   }


   .pd-l-10 {
       padding-left: 10px;
   }
/* all >> @@ */

.pdt-4 {
    padding-top: 20px;
}

img {
    width: 100%;
    height: 100%;
}

h1 {
    margin: 0;
}

/* header */

.header-t {
    background-color: #143057;
    min-height: 130px;
    padding-top: 15px
}



/* .logo-cut{
    width: 15%; 
} */

.banner-logo-cut {
    max-width: 650px;
}


/* slider */
.carousel-inner img {
    width: 100%;
    height: auto;
    background-size: cover;
}

a {
    color: #ffcc00
}

.carousel-inner {
    max-height: 520px;
}

.style-height-img {
    height: auto;
    background-size: cover;
}

/* section */

section {
    padding-top: 30px
}
.cl-title {
    color: #143057  
}

.cl-title2{
    color: #143057;
    /* text-align: right */
}
/* thông báo */

.tenten {
    width: 100%;
    text-align: center;
    background: #143057;
    color: #fff;
    padding: 42px 35px 20px 44px;
}

li {
    list-style-type: none;
    padding-top: 5px;
}


.hotline-color {
    border: 1px solid #ffcc00;
    padding: 10px;
    text-align: center
}


.title-hr{
    background: #ffcc00;
    width: 35%;
    text-align: left;
    margin: 0   
}

.title-hr2{
    background: #ffcc00;
    width: 35%;
    text-align: right;
    margin: 0   
}

ul {
    padding: 0
}


/* ss-main-left */

/* .content-duan {
    width: 55%;
    height: auto;
}
.content-duan2 {
    width: 50%;
    height: auto;
} */



/* ss-main-right */ 

/* .description {
    width: 44%;
    height: auto;
    padding-top: 20px
}

.description2 {
    width: 44%;
    height: auto;
    padding-top: 20px
} */


.vitri-duan{
    width: 100%;
    height: 400px;
}



table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}



/* form */

input#submit-form {
    color: #fff;
    background: #f9bc00;
    font-weight: bold;
    border: 1px solid rgb(254, 213, 0)
}

input#submit-form:hover {
    background: #ffcc00;
}

.bgr-form {
    width: 100%;
    background: #143057;
    margin: 0 auto;
}

.form-action{
    padding: 40px;
}

.style-form1 {
    border: 1px solid #ffcc00;
    padding: 35px;

}

input {
    padding: 7px 30px;
    box-sizing: border-box;
    border: none;
    margin-right: 5px;
    width: 100%;
    height: 100%;
}

.input-height {
    min-height: 30px;
}




/* fix-hotline */

.call-hotline {
    position: fixed;
    bottom: 40px;
    left: 20px;
}

.fixed-hotline-call {
    background: #f7cd26f5 !important;
    padding: 10px 15px !important;
    border-radius: 15px;
}


/* fix-form */

.form-contact-fixed {
    position: fixed;
    bottom: 40px;
    right: 25px;
}

.fixed-contact {
    background: #f7cd26f5 !important;
    padding: 10px 15px !important;
    border-radius: 15px;
}

.carousel-indicators li {
    position: relative;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(255,255,255,.5);
}

.ly-do{
    color: orange
}